.block {
  border: 1px solid black;
  margin-left: 10px;
  margin-top: 10px;
  width: 25%;
}

.dropdown-content {
  max-height: 13em;
  overflow: auto;
}

.dropdown {
  margin-top: 10px;
  margin-left: 10px;
  width: 25%;
  height: 30px;
}

.image {
  position: relative;
  background: lightblue;
}

.image h1 {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 20px;
  width: 100%;
  height: 26px;
  padding: 0;
  margin: 0;
  margin-top: -45px;
  text-align: center;
}

.image img {
  z-index: 1;
  width: 500px;
  height: 300px;
}
